<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  
    <head>
        <title>Annoksen koostaminen </title>
    </head>    
    <body background = "https://img-aws.ehowcdn.com/600x600p/photos.demandstudios.com/getty/article/165/76/87490163.jpg">  
      <style>
      h2 { 
          font-size: 1.25em;
          font-weight: bold;
      }
      h3 { 
          font-size: 1.20em;
          font-weight: bold;
      }
      h4 { 
      font-size: 1.15em;
      font-weight: bold;
      }
      </style>
        <h1>Uuden annoksen lis&auml;&auml;minen Keittokirjaan</h1>
        <br/>
            <form method="POST" action="/lisaa-annos/lisataan"> <!-- lisätty /lisaa-annos-->
                <h2>Kirjoita Keittokirjaan lis&auml;tt&auml;v&auml;n annoksen nimi:</h2><br/>
                <input type="text" name="nimi"/>   
                <br/>
                <input type="submit" value="Lis&auml;&auml; Keittokirjaan"/><br/>
            </form>
        <h3> Valitse, mihin annokseen haluat lis&auml;t&auml; raaka-aineet. Voit t&auml;ss&auml; my&ouml;s lis&auml;t&auml; raaka-aineita jo olemassaoleviin annoksiin</h3>
        
        <form method="POST" action="/lisaa-annos/valitse_annos">        
            Annos:<br/>         
            <div>
                <select name = "annos">
                    <option th:each="annos : ${annokset}"
                            th:value="${annos.nimi}"
                            th:text="${annos.nimi}"
                            th:label = "${annos.nimi}"
                    />                    
                </select>
            </div>     
        </form>
        
        <fieldset>
        <legend>Raaka-aineiden valitseminen edell&auml; valitsemaasi annokseen</legend>
        <h4> Valitse seuraavasta valikosta lis&auml;&auml;misj&auml;rjestyksess&auml; lis&auml;tt&auml;v&auml;t aineet annokseen</h4>
          
        <form method="POST" action="/lisaa-annos/lisaa_raaka-aine">
            Raaka-aine:<br/>
            <div>
                <select name="raakaaine">
                    <option th:each="raakaaine : ${raakaaineet}"                   
                        th:value="${raakaaine.nimi}"
                        th:text="${raakaaine.nimi}"
                        label = "${raakaaine.nimi}"
                    />                    
                </select>
            </div>
            <br/>
                M&auml;&auml;r&auml;:<br/>
                <input type="text" name="lukumaara"/><br/>
            <br/>
                Lis&auml;ohje raaka-aineelle:<br/>
                <input type="text" name="lisaohje"/>
                <input type="submit" value="Lis&auml;&auml; valittu raaka-aine"/> 
                            
            <ol>
                <li th:each="aine : ${ehdotetutAineet}">
                    <span th:text="${aine.nimi}">Raaka-aineet</span>
                </li>
            </ol>
        </form>
        </fieldset>
            <ul>
            <li>
                <a th:href="@{~/keittokirja}">Siirry keittokirjan p&auml;&auml;sivulle!</a>
            </li>
        </ul>
    </body>  
</html>
