<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
Raaka-aineita haetaan raaka-aineet listasta    
    <head>
        <title>Lis&auml;&auml; ja tarkastele </title>
    </head>
    <body background = "https://cdn.pixabay.com/photo/2016/04/25/10/57/cat-1351612_960_720.jpg">
    <style>
        h1 { 
        margin-left: 5;
        font-size: 1.5em;
        font-weight: bold;
        color: midnightblue;
        }
    </style>
        <h1> K&auml;ytöss&auml; olevat raaka-aineet</h1>    
        <ul>
            <li th:each="aine : ${raakaaineet}">
                <span th:text="${aine.nimi}">Raaka-aineet</span><br/>
          <!--  Ei tarvita:
                <span th:text="${aine.maara}">maara</span><br/>
                <span th:text="${aine.lisaohje}">lisaohje</span><br/>  
          -->  
            </li>
        </ul>
        <p>Lisaa raaka-aineita Keittokirjaan</p>
            <form method="POST" action="/lisaa-aineita">
                Raaka-aine:<br/>
                <input type="text" name="raakaaine"/>   
                <br/>
                <input type="submit" value="Lis&auml;&auml; raaka-aine Keittokirjaan"/><br/>
            </form>
            
        <p>Poista raaka-aineita Keittokirjasta</p>
            <form method="POST" action="/lisaa-aineita">
                Raaka-aine:<br/>
                <input type="text" name="poistettava"/>   
                <br/>
                <input type="submit" value=">Poista raaka-aine Keittokirjasta"/><br/>
            </form>
            <ul>
            <li>
                <a th:href="@{~/keittokirja}">Siirry keittokirjan p&auml;&auml;sivulle!</a>
            </li>
        </ul>
    
   </body>
</html>
