<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <!-- Droppi valikko: Lista jo olemassa olevista raaka-aineista = raakaaineet
    Kun raaka-aine valitaan, se lisaantyy listaan: valitutaineet (tahan button: lisaa?)
    (jarjestysnumero lukee annoksen tiedoissa (lisaamisjarjestys))
    Teksti: [Maara]
    Tekstikentta: lukumaara
    Teksti: [Lisaohje raaka-aineille]
    Tekstikentta: lisaohje
    Button: lisaa valLista: valitut raaka-aineetittu raaka-aine (paivittaa sivun ja lisaa raaka-aineet ehdotetutAineet-listaan)
    Lista: valitut raaka-aineet
    Teksti: [Anna annokselle nimi]
    Tekstikentta: annoksenNimi
    Button: uusiAnnos -->
   
    <head>
        <title>Annoksen koostaminen </title>
    </head>
    <body>
        <h1> Uuden annoksen luominen </h1>
        <p> Valitse seuraavasta valikosta lisaamisjarjestyksessa lisattavat aineet annokseen</p>
        <form method="POST" action="">
            Raaka-aine:<br/>
            
            
            <div>
                <select name = "raakaaine">
                    <option th:each="aine : ${raakaaineet}"
                            th:value="${aine.nimi}"
                            th:text="${aine.nimi}"
                            label = "label"
                            />
                    
                </select>
            </div>
            

            <br/>
                Maara:<br/>
                <input type="text" name="lukumaara"/><br/>
            <br/>
                Lisaohje raaka-aineelle:<br/>
                <input type="text" name="lisaohje"/>
                <input type="submit" value="Lisaa valittu raaka-aine"/> 
        </form>                    
            <ol>
                <li th:each="aine : ${jolaitetut}">
                    <span th:text="${aine.nimi}">Raaka-aineet</span>
                </li>
            </ol>
        <br/> Jos olet tyytyvainen raaka-aineisiin, anna annokselle nimi ja lisaa se Keittokirjaan
            <br/>
            <form method="POST" action="/lisaa-annos/lisataan">
                Annoksen nimi:<br/>
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisaa annos Keittokirjaan"/><br/>
            </form>
            <br/>
        <ul>
            <li>
                <a th:href="@{~/keittokirja}">Siirry keittokirjan paasivulle!</a>
            </li>
        </ul>
        
    </body>  
</html>


