<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
  <title>Tietoa keittokirjasta</title>
</head>
<body>
    <h1>Keittokirjan tietojen haku</h1> 
    
    <p> Valitse tarkasteltava raaka-aine valikosta</p>
        <form method="POST" action="/tilastotieto">
            Raaka-aine:<br/>
            <ul>
                <li th:each="aine:${raakaaineet}">
                <select name="raakaaine">
                    <option name="${aine.nimi}">Raaka-aine</option>                    
                </select>
                <input type="submit" value="Tarkastele tietoja"/><br/>
                </li> 
            </ul>
        </form>    
            <!-- Käytetty uutta java puoellla lisättäävää aineita listaa ja lasketaan sen koko. Jos ei toimi, koita :
            <h3> Raaka-aine esiintyy <span th:text="${aineita.size()}">count</span>:ssä annoksessa </h3> 
        <h2> Raaka-aine esiintyy <span th:text="${aineita.size()}">count</span>:ssä annoksessa </h2>-->
             
            <ul>
                <li>
                    <a th:href="@{~/keittokirja}">Siirry keittokirjan paasivulle!</a>
                </li>
            </ul>              
    </body>
</html>
