<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
  <title>Tietoa keittokirjasta</title>
</head>
<body background = "http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/iStock_82153585_SMALL.jpg" >
    <style>
    h1 { 
        margin-left: 5;
        font-size: 1.5em;
        font-weight: bold;
        color: midnightblue;
    }
    </style>
    <h1>Keittokirjan tietojen haku</h1> 
    <p> Raaka-aineita keittokirjassa yhteens&auml;: <span th:text="${raakaaineet.size()}">count</span> </p>
    <p> Annoksia keittokirjassa yhteens&auml;: <span th:text="${annokset.size()}">count</span> </p>
  
    <p> Valitse tarkasteltava raaka-aine valikosta</p>
        <form method="POST" action="/tilasto">
            Raaka-aine:<br/>
            <div>
                <select name="raakaaine">
                    <option th:each="raakaaine : ${raakaaineet}"                   
                        th:value="${raakaaine.nimi}"
                        th:text="${raakaaine.nimi}"
                        th:label="${raakaaine.nimi}"
                    />                    
                </select>
            </div>
            </form>
            
            <ul>
                <li>
                    <a th:href="@{~/keittokirja}">Siirry keittokirjan p&auml;&auml;sivulle!</a>
                </li>
            </ul>              
    </body>
</html>
